svg.svg_icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-340.1 221 74 74" style="enable-background:new -340.1 221 74 74;" xml:space="preserve")
	
	circle.bg_circle(class="st0" cx="-303.1" cy="258" r="34.6")
	
	g.center_icon.audio
		path(class="st1" d="M-303.4,240.6c-0.7-0.3-1.6-0.1-2.1,0.4l-8.4,9.2h-5.8c-1.1,0-1.9,0.9-1.9,1.9v11.7c0,1.1,0.9,1.9,1.9,1.9h5.8l8.4,9.2c0.6,0.6,1.4,0.7,2.1,0.4c0.7-0.3,1.2-1,1.2-1.8v-31.1C-302.2,241.7-302.6,240.9-303.4,240.6z")
		path(class="st1" d="M-298.3,244.4v3.9c5.4,0,9.7,4.4,9.7,9.7c0,5.4-4.4,9.7-9.7,9.7v3.9c7.5,0,13.6-6.1,13.6-13.6C-284.7,250.5-290.8,244.4-298.3,244.4z")
		path(class="st1" d="M-292.4,258c0-3.2-2.6-5.8-5.8-5.8v3.9c1.1,0,1.9,0.9,1.9,1.9c0,1.1-0.9,1.9-1.9,1.9v3.9C-295.1,263.8-292.4,261.2-292.4,258z")

	g.center_icon.video
		path(class="st1" d="M-290,244.1h-26.3c-1.7,0-3.1,1.4-3.1,3.1v21.7c0,1.7,1.4,3.1,3.1,3.1h26.3c1.7,0,3.1-1.4,3.1-3.1v-21.7C-286.9,245.4-288.3,244.1-290,244.1z M-308.6,247.2h3.1v3.1h-3.1V247.2z M-313.2,268.8h-3.1v-3.1h3.1V268.8z M-313.2,250.3h-3.1v-3.1h3.1V250.3z M-305.5,268.8h-3.1v-3.1h3.1V268.8z M-297.7,268.8h-3.1v-3.1h3.1V268.8z M-307,262.6v-9.3l9.3,4.6L-307,262.6z M-297.7,250.3h-3.1v-3.1h3.1V250.3z M-290,268.8h-3.1v-3.1h3.1V268.8z M-290,250.3h-3.1v-3.1h3.1V250.3z")

	g.center_icon.photo
		path(class="st1" d="M-303.1,253.1c-3.6,0-6.5,2.9-6.5,6.5c0,3.6,2.9,6.5,6.5,6.5s6.5-2.9,6.5-6.5C-296.6,256-299.5,253.1-303.1,253.1z")
		path(class="st1" d="M-290.1,248.2h-3.2c-1.1,0-2.1-0.5-2.7-1.5l-1.3-2c-0.6-0.9-1.6-1.5-2.7-1.5h-6.3c-1.1,0-2.1,0.5-2.7,1.5l-1.3,2c-0.6,0.9-1.6,1.5-2.7,1.5h-3.2c-1.8,0-3.3,1.5-3.3,3.3v18c0,1.8,1.5,3.3,3.3,3.3h26.2c1.8,0,3.3-1.5,3.3-3.3v-18C-286.8,249.6-288.3,248.2-290.1,248.2z M-303.1,269.5c-5.4,0-9.8-4.4-9.8-9.8c0-5.4,4.4-9.8,9.8-9.8s9.8,4.4,9.8,9.8C-293.3,265-297.7,269.5-303.1,269.5z")