doctype html
html(lang="en")
	head
		title= Tesis
		link(href='./css/style.css', rel='stylesheet')
	body
		#container
			.description
				.name
					h1 Proyecto de grado - Tesis
				.subTitleWrapper
					p.project By Paula Andrea Torres
			.map_container
				//include marker.pug
				.escuela.olarte(val= "Proyecto ")
					include marker.pug
				.escuela.curubital(val= "Proyecto productivo productivo de la granja")
					include marker.pug
				.escuela.arrayanes(val= "Proyecto productivo asociado a TIC")
					include marker.pug
				.escuela.argentina(val= "Proyecto productivo de reciclaje, ecoartistas")
					include marker.pug
				.escuela.hato(val= "Proyecto productivo de semillero, arte y teatro")
					include marker.pug
		script(src="./js/index.js")
