.marker
	include ./svg_icons/school.pug
	
	.ball.b1
	.audio_btn.btn
		include ./svg_icons/btn_icons.pug
	
	.ball.b2
	.video_btn.btn
		include ./svg_icons/btn_icons.pug
	
	.ball.b3
	.photo_btn.btn
		include ./svg_icons/btn_icons.pug
